body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(239, 1, 1, 0.1);
}


.logo{
    font-weight: 800;
    letter-spacing: 2.5px;
}
.logo::first-letter{
    font-size: 32px;
    color: rgb(136, 10, 10);
    font-weight: 900;
    
}
.nav-item{
    margin-left: 9px;
}
.nav-item:hover{
    background-color: rgba(60, 60, 60, 0.882);
    border-radius: 5px;
}
.active{
    background-color: rgba(60, 60, 60, 0.882);
    border-radius: 5px;
    border:1px solid rgb(109, 107, 107);
}



.footer {
    background-color: #000000d4;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
  }
  .footer i {
    transform: scale(1.5);
    color: rgb(124, 123, 123);
    cursor: pointer;
    margin: 0 10px;
  }
  .footer i:hover {
    color: white;
  }
